@page "/create"

<h3>Create</h3>

<EditForm Model="_postToCreate" OnInvalidSubmit="CreatePostAsync">
    <div class="form-group mb-3">
        <label for="postChasis">Chasis</label>
        <InputText @bind-Value="_postToCreate.Chasis" class="form-control" id="postChasis" />
    </div>
    <div class="form-group mb-3">
        <label for="postChasis">Marca</label>
        <InputText @bind-Value="_postToCreate.Marca" class="form-control" id="postMarca" />
    </div>
    <div class="form-group mb-3">
        <label for="postChasis">Modelo</label>
        <InputText @bind-Value="_postToCreate.Modelo" class="form-control" id="postModelo" />
    </div>
    <div class="form-group mb-3">
        <label for="postChasis">Color</label>
        <InputText @bind-Value="_postToCreate.Color" class="form-control" id="postColor" />
    </div>
    <div class="form-group mb-3">
        <label for="postChasis">Year</label>
        <InputText @bind-Value="_postToCreate.Year" class="form-control" id="postYear" />
    </div>
    <div class="form-group mb-3">
        <label for="postChasis">Comentario</label>
        <InputText @bind-Value="_postToCreate.Comentario" class="form-control" id="postComentario" />
    </div>
    <div class="form-group mb-3">
        <label for="postChasis">Foto</label>
        <InputText @bind-Value="_postToCreate.Foto" class="form-control" id="postFoto" />
    </div>

    <DataAnnotationsValidator />
    <ValidationSummary />

    <button class="btn btn-link" type="submit">Crear</button>
</EditForm>



@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@code {
    private Post _postToCreate = new Post
    {
        Chasis = "Chasis del post",
        Marca = "Marca del post",
        Modelo = "Modelo del post",
        Color = "Color del post",
        Year = "Year del post",
        Comentario = "Comentario del post",
        Foto = "Foto del post",

    };

    private async Task CreatePostAsync()
    {
        using var context = new CrudDbContext();
        await context.Posts.AddAsync(_postToCreate);

        if(await context.SaveChangesAsync() > 0)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            string errorMessage = "ERROR: Failed to create  post ";
            await JsRuntime.InvokeVoidAsync("alert", errorMessage);
        }
    }

}
